@font-face {
    font-family: 'CaslonAntique';
    src: url('/fonts/CaslonAntique.ttf');
  }

body {
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#board {
    background-image: url('/images/map.jpg');
    background-color: antiquewhite;
    height: 700px;
    width: 1067px;
    min-height: 700px;
    min-width: 1067px;
    background-size : cover;
    position: relative;
    border-radius: 10px;
    border: 5px rgb(70, 61, 98) solid;
}

h1 {
    font-family: 'CaslonAntique';
}

#marine {
    background-color: rgb(255, 0, 166);
    position: absolute;
}