@font-face {
    font-family: 'CaslonAntique';
    src: url('/fonts/CaslonAntique.ttf');
  }

body {
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#board {
    background-image: url('/images/map.jpg');
    background-color: antiquewhite;
    height: 700px;
    width: 1067px;
    min-height: 700px;
    min-width: 1067px;
    background-size : cover;
    position: relative;
    border-radius: 10px;
    border: 5px rgb(70, 61, 98) solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 {
    font-family: 'CaslonAntique';
}

.archer {
    
    background-image: url('/images/Archer.gif');
    background-size: cover;
    position: absolute;
}

.enemy {
    background-image: url('/images/Enemy-Run.gif');
    background-size: cover;
    position: absolute;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#game-zone {
    width: 662px;
    height: 441px;
    top:182px;
    left:198px;
    position:absolute
}